.background-image {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../../public/asset/background.jpg) center center;
  background-size: cover;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.title-logo {
  background: transparent;
  width: 25rem;
}

.title-logo-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.card {
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  background: #dcda64cf !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.card-image {
  width: 15rem;
}
